<% if !@can_create_structures %>
    Swal.fire({
        title: 'Error',
        text: 'No es posible crear un nuevo usuario debido a que el nivel ha alcanzado su capacidad máxima.',
        type: 'error',
        confirmButtonText: 'Continuar',
        footer: 'Si tienes alguna duda comunícate con tu responsable.'
    })
<% elsif @user.errors.empty? %>
  $('#modal-window').modal('hide')
  Swal.fire({
    title: 'Usuario creado con éxito!',
    text: 'Ahora <%= @user.label %> tendrá acceso al sistema',
    type: 'success',
    confirmButtonText: 'Continuar',
    customClass: {
        confirmButton: 'btn btn-success',
        cancelButton: 'btn btn-danger'
    },
    buttonsStyling: false
}).then(function() {
    Turbolinks.visit("<%= subordinates_structures_path(@ancestry&.id) %>")
});
<% else %>
Swal.fire({
    title: '<h5>No se pudo guardar por <%= pluralize_without_count(@user.errors.count, "la siguiente razón", "las siguientes razones") %>: </h5>',
    text: "<%= @user.errors.full_messages.join(", ") %>.",
    type: 'warning',
    confirmButtonText: 'Continuar',
    footer: 'Por favor corrobora los datos. Si tienes alguna duda comunícate con tu responsable.'
})

<% end %>