<tr>
  <td align="center" valign="top" id="templateBody" data-template-container>
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
      <tr>
        <td valign="top" class="bodyContainer">
          <table class="mcnTextBlock" style="min-width:100%;" width="100%" cellspacing="0" cellpadding="0" border="0">
            <tbody class="mcnTextBlockOuter">
              <tr>
                <td class="mcnTextBlockInner" style="padding-top:9px;" valign="top">

                  <table style="max-width:100%; min-width:100%;" class="mcnTextContentContainer" width="100%" cellspacing="0" cellpadding="0" border="0" align="left">
                    <tbody>
                      <tr>

                        <td class="mcnTextContent" style="padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:18px;" valign="top">
                          <!-- BEGIN TEMPLATE // -->
                            <%= yield %>
                          <!-- // END TEMPLATE -->
                        </td>
                      </tr>
                    </tbody>
                  </table>

                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </table>
  </td>
</tr>
