<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <h1 class="banner-title vertical-align p-0 m-0">Nuevo concepto</h1>
    </div>
  </div>
</div>
<div class="container">
  <hr class="divider">
</div>
<div class="container">
    <%= render "form", client_user_concept: @client_user_concept %>
</div>
