<tr>
  <td><%= file_version.created_at %></td>
  <td class="align-middle text-center">
    <%= link_to url_for(file_version.file) do %>
      <i class="fa fa-file-text-o fa-folder-size" aria-hidden="true"></i>
    <% end %>
  </td>
</tr>
