<div class="container">
  <p class="h6 my-4 ">Aquí puedes consultar la lista completa de etiquetas Liquid que tenemos disponibles para que utilices. Puedes hacer click en el ícono verde para copiar una etiqueta al portapapeles.</p>
  <%= render partial: "tags/list", locals: { tags: @tags, parent: "" } %>
</div>
