Swal.fire({
    icon: 'error',
    title: 'Oops...',
    text: "<%= message %>",
    // footer: '<a href="#">Contactar a soporte</a>',
    customClass: {
        confirmButton: 'btn btn-success',
        cancelButton: 'btn btn-danger',
    },
    buttonsStyling: false,
})