.chip.chip-md {
  border-radius: 26px;
}
.chip.chip-md img {
  height: 30px;
  width: 30px;
}

.chip img {
  width: 32px;
  height: 32px;
  margin: 0 8px 0 -12px;
  border-radius: 50%;
}

.light-grey {
  background-color: #ebebeb !important;
}
