.fa.change-scheme-icon {
  font-size: 13px;
  color: dodgerblue;
}

.dropdown-item-warning {
  color: #212529;
  background-color: #ffa200;
  border-color: #ffa200;
}
.dropdown-item-warning:hover {
  color: #fff;
  background-color: #cc8200;
  border-color: #bf7a00;
}
