<%= render layout: "components/mailer_block" do %>
  <h1><span style="font-size:25px">Contraseña cambiada</span></h1>
  &nbsp;
  <p><%= t('.greeting', recipient: @resource.label) %></p>
  <p><%= t('.message') %></p>
<% end %>

<%= render layout: "components/mailer_block" do %>
  <p>
    <span>
      Si tiene preguntas puede contactarnos al teléfono <span style="color: #5e5e5e; font-weight: 600;">(999) 944 2525</span>
      <br>
      <br> ¡Saludos!
    </span>
  </p>
<% end %>
